@import "variables";
@import "mixins";



body{
  background-color: $color2;
  font-family: $font02;
}
.spacing{
  padding-bottom: 40px;
}
.pad{
  padding: 0px;
  margin: 0px;
}
.hour{
  position:fixed;
  top:0px;
  right: 20px;
  width: 60px;
  height: 30px;
  background-color:#111111;
  z-index: 2;
  text-align: center;
  font-family: $font02;
  span{
    color: #fff;
    font-size: 16px;

  }
}

.homePage{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80vh;
  overflow: hidden;

  #videoBox{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -4;
    top: -3px;
    .poster{
      display: none;
    }
  }

  h1{
    font-size: 10vw;
    color:#fff;
    @include shadow;
    font-family:$font01,sans-serif;
  }
  h2{
    color:#fff;
    font-family: $font02;
    font-weight: 200;
    font-style: italic;
    span{
      color:$color2;
    }
  }
  h3{
    font-size: 80px;
    color: #fff;
    font-family: $font01;
    padding-bottom: 20px;
  }

  a{
    font-family: $font02;
    color: #fff;
    text-decoration-style: none;
  }
  .btn{
    margin: auto;
    width: 250px;
    padding: 20px;
    border: 3px solid $color1;
    &:hover{
      border: 3px solid #fff;
      color: $color1;
    }
  }
  .page__bar{
    position: relative;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 3px;
    background-color: $color2;
    margin-bottom: 30px;
  }
}

.navbarr{
  position: relative;
  background-color: $color2;
  border-bottom: 1px solid $color1;
  .navbar__list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;

    .navbar__item{
      padding: 10px 20px;
      color: #fff;
      font-family: $font02;
      font-weight: 200;
      letter-spacing: 2px;
      cursor: pointer;
      a{
        color: #fff;
        text-decoration: none;
        &:hover{
          color: $color1;
        }
      }
    }
  }
}

.aboutPage{
  background-color: $color2;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  h3{
    font-family: $font02;
    font-weight: 300;
    letter-spacing: 2px;
    padding-bottom: 20px;
  }
  p{
    line-height: 29px;
    padding-bottom: 20px;
  }
  img{
    max-width: 150px;
  }
  ul{
    padding-left: 0px;
    li{
      list-style: none;
      padding-left: 0px;
      a{
        color:#fff;
      }
    }
  }
  .btn{
    position: relative;
    padding: 10px 30px;
    background-color: $color1-darker;
    color: #fff;
    top: 80px;
    border-radius: 50px;
    transition: 0.5s;
    &:hover{
      background-color: $color1;
      box-shadow: 0 1px 25px rgba(67, 196, 189, 0.4);
    }
  }
}

.resumePage{
  background-color: #e8e8e8;
  padding-top: 80px;
  padding-bottom: 80px;
  .resumePage__title{
    margin-top: 5px;
    span{
      padding-bottom: 10px;
      border-bottom: 3px solid $color1;
    }
  }
  .resumePage__date{
    font-size: 13px;
    letter-spacing: 3px;
    padding-bottom: 10px;
    color:rgb(60, 60, 60) ;
  }
  .resumePage__description{
    padding-bottom: 50px;
    color:rgb(101, 101, 101) ;
  }
  .resumePage__tag{
    padding: 1px 15px;
    background-color: $color1;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
  }
  .resumePage__box{
    padding-top: 50px;
    border-bottom: 1px solid rgb(179, 179, 179);
    h3{
      font-weight: 400;
    }
  }
}

.worksPage{
  padding: 10px 0px;
  p{
    margin: 0 auto;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  img{
    margin: 0 auto;
    padding-right: 10px;
  }
}
@import "responsive";
